In [1]:
#Importing the required libraries

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sas
%matplotlib inline

In [2]:
#Saving the pandas DataFrame 

df = pd.read_csv('toronto.csv')

In [3]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [4]:
#Removing the rows which has a 'Not Assigned' value

df.drop(df[df['Borough']=='Not assigned'].index,axis=0,inplace=True)

In [5]:
#Reseting the index

df.reset_index(inplace=True)

In [6]:
df.drop('index',axis=1, inplace=True)

In [7]:
df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

In [8]:
df.shape

(210, 3)

In [9]:
geo = pd.read_csv('Geospatial.csv')

In [10]:
geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [19]:
geo.rename(columns = {'Postal Code':'Postcode'}, inplace= True)

In [21]:
df = pd.merge(df,geo)

In [22]:
df.head()

  Postcode           Borough     Neighbourhood   Latitude  Longitude
0      M3A        North York         Parkwoods  43.753259 -79.329656
1      M4A        North York  Victoria Village  43.725882 -79.315572
2      M5A  Downtown Toronto      Harbourfront  43.654260 -79.360636
3      M6A        North York  Lawrence Heights  43.718518 -79.464763
4      M6A        North York    Lawrence Manor  43.718518 -79.464763