In [91]:
#Importing the required libraries

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sas
%matplotlib inline

In [92]:
#Saving the pandas DataFrame 

df = pd.read_csv('toronto.csv')

In [93]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [94]:
#Removing the rows which has a 'Not Assigned' value

df.drop(df[df['Borough']=='Not assigned'].index,axis=0,inplace=True)

In [95]:
#Reseting the index

df.reset_index(inplace=True)

In [96]:
df.drop('index',axis=1, inplace=True)

In [97]:
df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

In [98]:
df.shape

(210, 3)